.hamburger {
  position: absolute;
  height: 30px;
  width: 35px;
  top: 40%;
  left: 90%;
  z-index: 31;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger-line {
  height: 3px;
  width: 2rem;
  position: absolute;
  background-color: white;
  transition: all 0.25s ease-out;
}

/* Positions each line of the hamburger */
.hamburger span:nth-child(1) {
  top: 0px;
}
.hamburger span:nth-child(2) {
  top: 10px;
}
.hamburger span:nth-child(3) {
  top: 20px;
}

/* Animation of the hamburger */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}

@media (max-width: 425px) {
  .hamburger {
    left: 85%;
  }
}
