/* Individual container styles for each project */

.container {
  background-color: #383838;
  border-radius: 5px;
  box-shadow: 0 0 10px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  transition: all 0.25s ease-out;
}

.title {
  color: #bc6ff1;
  font-size: 1.25rem;
}

img {
  width: 50%;
}

/* Buttons' Styles */

.buttons-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

.button {
  color: black;
  border: none;
  background-color: white;
  border-radius: 5px;
  filter: brightness(80%);
  font-size: 1.125rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  text-decoration: none;
  transition: all 0.25s ease-out;
  width: 30%;
}

.button:hover {
  cursor: pointer;
  filter: brightness(100%);
}

/* Media Queries */

@media (max-width: 1280px) {
  .button {
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 1rem;
  }

  .button {
    font-size: 0;
    gap: 0;
  }

  img {
    width: 80%;
  }
}
